body {
  margin: 0 auto;
  padding: 0;
  background: url("../img/board-background.jpg");
  text-align: center;

}

.wrapper{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#board {
  height: 500px;
  border: solid 10px #fff;
  width: 1000px;
  background: #337a1f;
  position:relative;
  left: 10%;
}

.paddle {
  width: 25px;
  height: 100px;
  border-radius: 5px;

}

#paddle1 {
  background: red;
  position: absolute;
  left:0;
  top:200px;
}

#paddle2 {
  background: blue;
  position:absolute;
  right: 0;
  top: 200px;
}

#net {
  width: 10px;
  height: 100%;
  background: #fff;
  clear: both;
  display: inline-block;
}

#ball {
 height: 15px;
 width: 15px;
 border-radius: 50%;
 background: #000;
 position: absolute;
 top: 240px;
 left: 490px;
}

.score  {
  text-align: center;
  background:#d3dded;
  height: 120px;
  width: 40%;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.left {
float:left;
margin-left: 30%;

}

.right {
  float:right;
  margin-right: 30%;
}


button {
  padding: 0px;
  width: 100px;
  height: 30px;
  border: none;
  background: grey;
  color:red;
  position: absolute;
  top: 520px;

}

#winner {
}

#winner.hide {
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
