body {
  margin: 0 auto;
  padding: 0;
  background: url("../img/board-background.jpg");


}

.wrapper{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#board {
  height: 500px;
  width: 80vw;
  background: #337a1f;
  position:absolute;
  left: 10%;
}

.paddle {
  width: 25px;
  height: 100px;
  border-radius: 5px;

}

#paddle1 {
  background: red;
  position: absolute;
  left:0;
  top:200px;
}

#paddle2 {
  background: blue;
  position:absolute;
  right: 0;
  top: 200px;
}

#net {
  width: 20px;
  height: 100%;
  background: #fff;
  clear: both;
  display: inline-block;
}

#ball {
 height: 20px;
 width: 20px;
 border-radius: 50%;
 background: #000;
 position: absolute;
 top: 240px;
 left: 320px;
}

.score span {
}

.left {
}

.right {
}

button {
  padding: 0px;
  width: 100px;
  height: 30px;
  border: none;
  background: grey;
  color:red;
  position: absolute;
  top: 520px;

}

#winner {
}

#winner.hide {
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
